# IDEs
.vscode/
.idea/

# llms
.claude/*

# Backend
backend/bin/
backend/tools/bin/
backend/vendor/
backend/.claude/*

# Frontend
frontend/.claude/*
frontend/node_modules/
frontend/dist/
frontend/.env.local

# Build artifacts
*.exe
*.test
*.prof

# OS specific
.DS_Store
.claude/*
.gitignore
